**/LICENSE
**/README.md
**/.gitignore
**/.git
**/Dockerfile
**/.dockerignore
**/*.env
.github/**/*
.github/
temp/**/*
temp/
**/.DS_Store
**/requirements-dev.txt
.devcontainer/**/*
.devcontainer/
.zed/**/*
.zed/
__pycache__/**/*
__pycache__/
